* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 0%, 100%);
}

span {
    display: block;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    margin-bottom: 10px;
    margin-top: 40px;
}

.mc-col a {
    color: #fff;
}

/* Contenuto pagina */
.main-content {
    display: flex;
    height: calc(100vh - 90px);
}

/* Navbar sinistra */
.left-navbar {
    overflow: auto;
    padding: 20px 20px 10px;
    flex-shrink: 0;
    width: 230px;
    background-color: hsl(0, 0%, 0%);
    height: calc(100vh - 90px);
    font-size: 0.7rem;
}

.left-navbar a {
    color: hsl(0, 0%, 47%);
}

.left-navbar a:hover {
    color: white;
}

#logo {
    margin-bottom: 20px;
    width: 80%;
}

.logo-small {
    display: none;
}

.ln-list {
    line-height: 40px;
    margin-bottom: 20px;
    position: relative;
}

.ln-border::before {
    content: "";
    border: 2px solid green;
    height: 40px;
    position: absolute;
    left: -20px;
}

.ln-icon {
    width: 35px;
    vertical-align: middle;
}

#home {
    color: white;
}

.left-navbar span {
    display: inline-block;
    vertical-align: middle;
}

.list-scroll {
    overflow: auto;
    max-height: 200px;
    position: relative;
}

.fa-plus-bg {
    background-color: hsl(0, 0%, 64%);
    padding: 10px;
    color: hsl(0, 0%, 0%);
    margin: 10px 10px 10px 0;
}

.dl-profile {
    margin-top: 220px;
    position: sticky;
    bottom: 0;
}

.dl-icon {
    height: 30px;
    vertical-align: middle;
}

.download-app {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    font-size: 0.7rem;
}

.pr-img {
    background-color: hsl(0, 0%, 64%);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#pr-name {
    color: white;
}

/* Sezione finestra principale */
.main-window {
    overflow: auto;
    width: 100%;
    /* DEBUG */
    height: 100%;
    background-color: hsl(219, 26%, 11%);
}

/* Call to action */
.cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 230px;
    z-index: 1000;
    height: 90px;
    width: calc(100% - 230px);
    background-color: rgb(0, 0, 0, 0.5);
}

#cta-btn {
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 15px 40px;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
}

#cta-btn:hover {
    padding: 20px 45px;
}

/* Container */
.container {
    padding: 30px;
    margin-top: 90px;
}

/* Navbar principale */
.navbar-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 0.8rem;
}

.bottom-bar::after {
    content: "";
    border: 2px solid green;
    display: block;
    width: 50px;
    margin-left: 28px;
    margin-top: 2px;
}

.navbar-ul a {
    font-weight: 700;
    color: hsl(217, 3%, 45%);
}

.navbar-ul a:hover {
    color: white;
}

/* Contenuto principale */
.subtitle {
    font-size: 0.9rem;
    color: hsl(217, 3%, 45%);
}

.mc-row {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.mc-col {
    width: calc(95% / 6);
    position: relative;
}

.mc-col:hover .mc-img {
    opacity: 0.5;
}

.fa-hover {
    position: absolute;
    font-size: 4rem;
    translate: -100%;
    right: 7.5px;
    top: 24%;
    display: none;
}

.mc-col:hover .fa-hover {
    display: block;
}

.mc-img {
    width: 100%;
}

.mc-info {
    text-align: center;
}

.mc-title {
    font-weight: 700;
    margin: 5px 0;
}

.mc-author {
    color: hsl(223, 3%, 50%);
    font-size: 0.8rem;
}

.mc-round {
    border-radius: 50%;
}

/* Player */
.player {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    height: 90px;
    width: 100%;
    background-color: hsl(0, 0%, 16%);
    padding: 20px 20px;
}

/* In riproduzione */
.now-playing {
    display: flex;
    align-items: center;
    width: 20%;
}

.album-cover {
    height: 100%;
    margin-right: 10px;
}

.album-cover-img {
    height: 100%;
}

.title-author {
    margin-right: 20px;
    font-size: 0.7rem;
}

#title {
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
}

#author {
    color: hsl(0, 0%, 47%);
}

#author:hover {
    color: white;
}

.save-song a {
    color: hsl(0, 0%, 47%);
    text-decoration: none;
}

.folder {
    margin-left: 10px;
}

.heart:hover, .folder:hover {
    color: white;
} 

/* Pannello di controllo */
.control-panel {
    font-size: 1.2rem;
    width: 60%;
}

.cp-icon {
    text-align: center;
}

.control-panel i {
    margin: 0 15px;
    color: #fff;
}

.fa-play-hover:hover {
    font-size: 1.5rem;
}

.prog-bar-under {
    position: relative;
    width: 50%;
    margin: 17px auto;
    border-bottom: 3px solid hsl(0, 0%, 35%);
}

.prog-bar-top {
    position: absolute;
    left: 0;
    width: 100px;
    border-bottom: 3px solid hsl(0, 0%, 76%);
}

.prog-bar-under:hover .prog-bar-top {
    border-bottom-color: green;
}

.dot-prog-bar {
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    transform: translate(0, -50%);
    left: 93px;
    display: none;
}

.prog-bar-under:hover .dot-prog-bar {
    display: block;
}

.timer-before {
    position: absolute;
    bottom: 12px;
    left: 620px;
    font-size: 0.8rem;
}

.timer-after {
    position: absolute;
    bottom: 12px;
    left: 1265px;
    font-size: 0.8rem;
}

/* Azioni utente */
.user-action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}

.user-action i {
    margin: 0 5px;
    color: #fff;
}

.vol-bar-under {
    position: relative;
    width: 150px;
    margin: 17px auto;
    border-bottom: 3px solid hsl(0, 0%, 35%);
}

.vol-bar-top {
    position: absolute;
    left: 0;
    width: 50px;
    border-bottom: 3px solid hsl(0, 0%, 76%);
}

.vol-bar-under:hover .vol-bar-top {
    border-bottom-color: green;
}

.dot-vol-bar {
    background-color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    transform: translate(0, -50%);
    left: 40px;
    display: none;
}

.vol-bar-under:hover .dot-vol-bar {
    display: block;
}