* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: 'Montserrat', sans-serif;
    color: hsl(0, 0%, 100%);
}

span {
    display: block;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    margin-bottom: 10px;
    margin-top: 40px;
}

.mc-col a {
    color: #fff;
}

/* Contenuto pagina */
.main-content {
    display: flex;
    height: calc(100vh - 90px);
    /* DEBUG */
    background-color: lightblue;
}

/* Navbar sinistra */
.left-navbar {
    overflow: auto;
    padding: 20px 20px 10px;
    flex-shrink: 0;
    width: 230px;
    background-color: hsl(0, 0%, 0%);
    height: calc(100vh - 90px);
    font-size: 0.7rem;
}

.list-scroll {
    overflow: auto;
    max-height: 200px;
}

.left-navbar a {
    color: hsl(0, 0%, 100%);
}

#logo {
    margin-bottom: 20px;
    width: 80%;
}

.logo-small {
    display: none;
}

.ln-list {
    line-height: 40px;
    margin-bottom: 20px;
}

.ln-icon {
    width: 35px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.left-navbar span {
    display: inline-block;
    vertical-align: middle;
}

.fa-plus-bg {
    background-color: hsl(0, 0%, 64%);
    padding: 10px;
    color: hsl(0, 0%, 0%);
    margin: 10px 10px 10px 0;
}

.dl-profile {
    margin-top: 220px;
}

.dl-icon {
    width: 20px;
}

.download-app {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    font-size: 0.7rem;
}

.pr-img {
    background-color: hsl(0, 0%, 64%);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

/* Sezione finestra principale */
.main-window {
    overflow: auto;
    width: 100%;
    /* DEBUG */
    height: 100%;
    background-color: hsl(219, 26%, 11%);
}

/* Call to action */
.cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 230px;
    height: 90px;
    width: calc(100% - 230px);
    background-color: rgb(0, 0, 0, 0.5);
}

#cta-btn {
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 15px 40px;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
}

/* Container */
.container {
    padding: 30px;
    margin-top: 90px;
}

/* Navbar principale */
.navbar-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 0.8rem;
}

.navbar-ul a {
    font-weight: 700;
    color: hsl(217, 3%, 45%);
}

/* Contenuto principale */
.mc-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.mc-col {
    width: calc(90% / 6);
}

.fl-start {
    justify-content: flex-start;
    gap: 35px;
} 

.mc-img {
    width: 100%;
}

.mc-info {
    text-align: center;
}

.mc-title {
    font-weight: 700;
    margin: 10px 0;
}

.mc-author {
    color: hsl(223, 3%, 50%);
    font-size: 0.8rem;
}

.mc-round {
    border-radius: 50%;
}

.subtitle {
    font-size: 0.9rem;
    color: hsl(217, 3%, 45%);
}

/* Player */
.player {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    height: 90px;
    width: 100%;
    background-color: hsl(0, 0%, 16%);
    padding: 20px 15px;
}

/* In riproduzione */
.now-playing {
    display: flex;
    align-items: center;
    width: 20%;
}

.album-cover {
    height: 100%;
    margin-right: 10px;
}

.album-cover-img {
    height: 100%;
}

.title-author {
    margin-right: 20px;
    font-size: 0.7rem;
}

#title {
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
}

#author {
    color: hsl(0, 0%, 47%);
}

.save-song a {
    color: hsl(0, 0%, 47%);
    text-decoration: none;
}

.folder {
    margin-left: 10px;
}

/* Pannello di controllo */
.control-panel {
    font-size: 1.2rem;
    width: 60%;
    /* DEBUG */
    /* height: 100%; */
    /* background-color: lightpink; */
}

.cp-icon {
    text-align: center;
}

.control-panel i {
    margin: 0 20px;
    color: #fff;
}

.fa-play-border {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.prog-bar-under {
    position: relative;
    width: 50%;
    margin: 17px auto;
    border-bottom: 3px solid hsl(0, 0%, 35%);
}

.prog-bar-top {
    position: absolute;
    left: 0;
    width: 20%;
    border-bottom: 3px solid hsl(0, 0%, 76%);
}

/* Azioni utente */
.user-action {
    /* display: flex; */
    align-items: center;
    width: 20%;
    /* DEBUG */
    background-color: lightsteelblue;
}

.user-action i {
    margin: 0 5px;
    color: #fff;
}

.vol-bar-under {
    position: relative;
    width: 40%;
    margin: 17px auto;
    border-bottom: 3px solid hsl(0, 0%, 35%);
}

.vol-bar-top {
    position: absolute;
    left: 0;
    width: 30%;
    border-bottom: 3px solid hsl(0, 0%, 76%);
}
