@media screen and (max-width: 640px) {

    /* Ascoltati di recente */
    .mc-col {
        width: calc(90% / 2);
    }

    /* Call to action */
    #cta-btn {
        padding: 10px 20px;
        font-size: 0.8rem;
    }

    /* In riproduzione */
    .now-playing {
        width: 33%;
    }

    .title-author {
        margin-right: 10px;
    }

    .save-song {
        flex-direction: column;
        margin-left: 0px;
    }

    .heart {
        margin-left: 10px;
    }

    /* Pannello di controllo */
    .control-panel i {
        margin: 0 5px;
    }

    .timer-before {
        font-size: 0.6rem;
    }

    .timer-after {
        font-size: 0.6rem;
    }
}