@media screen and (max-width: 878px) {

    /* Generics */
    h2 {
        font-size: 0.95rem;
    }

    /* Navbar principale */
    .navbar-ul {
        flex-wrap: wrap;
        font-size: 0.7rem;
    }

    .bottom-bar::after {
        margin-left: 23px;
    }


    /* Ascoltati di recente */
    .subtitle {
        font-size: 0.7rem;
    }

    .mc-row {
        flex-wrap: wrap;
        gap: 10px;
    }

    .mc-col {
        width: calc(90% / 4);
    }

    .mc-title {
        font-size: 0.8rem;
    }

    .mc-author {
        font-size: 0.7rem;
    }

    /* In riproduzione */
    .save-song {
        display: flex;
        margin-left: 10px;
    }

    /* Pannello di controllo */
    .control-panel {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
    }

    /* Azioni utente */
    .ua-icon {
        display: flex;
    }

    .vol-bar-under {
        width: 75px;
        margin-left: 10px;
    }

    .vol-bar-top {
        width: 25px;
    }

    .dot-vol-bar {
        left: 60%;
    }

}