@media screen and (max-width: 552px) {

    /* Navbar sinistra */
    .left-navbar {
        overflow: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        padding: 10px;
    }

    #logo {
        width: 100%;
    }

    .logo-big {
        display: none;
    }

    .logo-small {
        display: block;
        width: 30px;
    }

    .left-navbar span {
        display: none;
    }

    .list-scroll {
        display: none;
    }

    .dl-icon {
        width: 20px;
        margin-left: 5px;
    }

    /* Call to action */
    .cta {
        left: 50px;
        width: calc(100% - 50px);
    }

    /* Ascoltati di recente */
    .mc-col {
        width: calc(95% / 2);
    }

    /* In riproduzione */
    .title-author {
        margin-right: 0px;
    }

    .save-song {
        margin-right: 30px;
    }

    /* Pannello di controllo */
    .timer-before {
        font-size: 0.5rem;
    }

    .timer-after {
        font-size: 0.5rem;
    }

    /* Azioni utente */
    .user-action i {
        margin: 0 2px;
    }
}